body {
  text-align: center;
  color: rgb(100, 100, 100);
}

p {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: sans-serif;
}

#searchBar {
  background-color: rgb(249, 249, 249);
  margin: 0px auto;
  width: 90%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

#textField {
  width: 96%;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-size:80%;
  text-indent: 1em;
}


#listItemTitle {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 65%;
  font-size: 110%;
  line-height: 130%;
  /*border: 1px solid red;*/
}

#listItemCreated {
  font-size: 70%;
  width: 35%;
  margin-left: 58%;
  text-align: right;
  margin-right: 5%;
  color: rgb(210, 210, 210);
  margin-top: -1%;
}

#line {
  border-top: 1px dashed rgb(210, 210, 210);
  width: 90%;
  margin: 0px auto;
}

#purpleFont {
   background-color:rgb(242,74,152);
   color:white;
   display: inline-block;
   /*border: 1px solid black;*/
}
